@model LocArmarios.Models.Armario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Armario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bloco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bloco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Numero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Numero)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
